<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Companyname:</strong>
    <%= job.companyName %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= job.url %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= job.source %>
  </p>

</div>
