<div id="<%= dom_id job_po %>">
  <p>
    <strong>Ids:</strong>
    <%= job_po.ids %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= job_po.title %>
  </p>

  <p>
    <strong>Companyname:</strong>
    <%= job_po.companyName %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= job_po.url %>
  </p>

</div>
