<div id="<%= dom_id job_post %>">
  <p>
    <strong>Id:</strong>
    <%= job_post.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= job_post.title %>
  </p>

  <p>
    <strong>Companyname:</strong>
    <%= job_post.companyName %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= job_post.url %>
  </p>

</div>
